$main-color: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
$hover-color: rgba(255, 255, 255, 0.2);
$darken-main-color: darken(#5041b2, 10%);
$btn-bg: #3d8bf0;
$success: rgba(62, 246, 86, 0.7);
$failure: rgba(240, 87, 108, .7);