@import '../../../../styles/variables';

.AnswerItem {
  border: 1px solid white;
  border-radius: .35em;
  padding: 0.35em .7em;
  margin-bottom: .35em;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
    transition: background-color .3s ease-in-out;
  }

  &.success {
    background-color: rgba(161, 240, 69, .7);
  }

  &.failure {
    background-color: rgba(240, 87, 108, .7);
  }
}