.Input {
  margin-bottom: 1em;

  & label {
    margin-bottom: .2em;
    display: block;
    font-weight: bold;
  }

  & input {
    display: block;
    border: 1px solid #bebebe;
    padding: 0.5em;
    margin: 0 0 .33em;
    width: 100%;
    outline: none;
    transition: all 300ms ease-in-out;
  }

  & span {
    color: #f01f30;
    font-size: .75rem;
    font-weight: bold;
  }

  &.invalid label {
    color: #f01f30;

  }
}