.ActiveQuiz {
  padding: 1.3em;
  color: #ffffff;
  border: 2px solid #fff;
  border-radius: .4em;
  font-family: 'Balsamiq Sans', cursive;
  margin: 0 .625em;
}
.question{
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  &-wrapper {
    max-width: 85%;
  }
  &-counter{
    min-width: 10%;
  }
}